@font-face{
    font-family:Roboto-Medium ;
    src: url(../fonts/Roboto-Medium.ttf);
}
*{
    font-size: 16px;
    color: #606060 !important;
}
h1,h2,h3,h4,h5,h6,a,button{
    font-family: Roboto-Medium;
    font-weight: 400;
    color: #1d1a1a !important;
}
p,span{
    font-family: sans-serif;
    color: #ccc7c7;
}
img{
    width: 100%;
}
/* form start */
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ecf0f3;
}
.box{
    border-radius: 0 30px 30px 0;
    /* background: linear-gradient(145deg, #d4d8db, #fdffff); */
box-shadow:  20px 20px 25px #c9cccf, -20px -20px 25px #ffffff;

}
.left-portion, .right-portion{
    padding-top: 50px;
    padding-bottom: 50px;
}
.form-left, .form-right{
    /* border: 1px solid #686868; */
}
.c-btn{
    margin-top: 10px;
    text-transform: capitalize;
    padding: 12px 60px;
    border: none;
    color: rgb(255, 72, 0) !important;
    background: linear-gradient(145deg, #d4d8db, #fdffff);
    outline: none;
    border-radius: 30px;
    box-shadow:7px 7px 7px #c9cccf , -7px -7px 7px white;
    transition: all .3s ease;
}
.c-btn:hover{
    color: white !important;
    background: linear-gradient(225deg, #e64100, #ff4d00);
}
/* formleft start */
.left-portion{
    box-shadow: 5px 5px 10px #cbced1;
    position: relative;
    overflow: hidden;
}
.form-left{
}
.sub-title{
    margin: 40px 0;
}
.circle-bottom{
    position: absolute;
    bottom: -28%;
    left: -30%;
    height: 290px;
    width: 350px;
    border-radius: 50%;
    background: linear-gradient(225deg, #ff4d00, #e64100);
    box-shadow:  -5px 5px 9px #de3f00,
             5px -5px 9px #ff5100;
    z-index: -1;
}
.circle-top{
    position: absolute;
    top: -20%;
    right: -20%;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: linear-gradient(145deg, #ff4d00, #e64100);
    box-shadow:  5px 5px 9px #de3f00,
             -5px -5px 9px #ff5100;
    z-index: -1;
}
/* formleft end */
/* form-right start */
.social-icon{
    margin: 35px 0;
}
.social-icon li{
    display: inline-block;
    margin-left: 10px;
}
.social-icon li:first-child{
    margin-left: 0;
}
.social-icon li a i{
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    color: #ff4800 !important;
    background: linear-gradient(145deg, #d4d8db, #fdffff);
    box-shadow:  5px 5px 5px #c9cccf,-5px -5px 5px #ffffff;
}
.input-icon{
    position: absolute;
    top: 16px;
    left: 55px;
}
.form-input{
    width: 80%;
    background: #ecf0f3;
    border: none;
    padding: 15px 0px 15px 40px;
    border-radius: 30px !important;
    box-shadow:  10px 10px 15px #c9cccf,-10px -10px 15px #ffffff;
}
input:focus{
    outline: none;
    box-shadow: inset 5px 5px 9px #cdd1d3,
            inset -5px -5px 9px #ffffff;
}
/* form-right end */
/* form end */